/* General Setup */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--FF-primary-lato);
  min-height: 100vh;
}

picture,
img,
svg,
video {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input,
textarea {
  width: 100%;
}
