@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

/* CSS Variables */
:root {
  --CL-primary-dark: #272a31;
  --CL-primary-dark-two: #626262;
  --CL-primary-dark-three: #353535;
  --CL-primary-light: #d3d3d3;
  --CL-primary-light-two: #f3f3f3;
  --CL-primary-orange: #fb462e;
  --CL-neutral-white: #fff;
  --FF-primary-lato: 'Lato', sans-serif;
  --FF-primary-cocogoose: 'COCOGOOSE', sans-serif;
}

h1 {
  font-family: var(--FF-primary-cocogoose);
}

p {
  color: var(--CL-primary-dark-two);
  margin: 0;
}

/* Font Families */

.font-title {
  font-family: var(--FF-primary-cocogoose);
}

/* Font Sizes */

.h1 {
  font-size: calc(1.6rem + 1vw);
}

/* Lines */

.hr {
  height: 1.25px;
  background-color: var(--CL-primary-orange);
  border: none;
  max-width: 3em;
  margin: 1em auto 2em auto;
  opacity: 0.5;
}

.hr-dark {
  background-color: var(--CL-primary-dark-two);
  margin: 0.5em 0 0.5em 0;
  max-width: 1.25em;
}

/* Colors */

.text-dark {
  color: var(--CL-primary-dark);
}

.text-orange {
  color: var(--CL-primary-orange);
}

.text-light {
  color: var(--CL-primary-light);
}

.text-dark-two {
  color: var(--CL-primary-dark-two);
}

/* Buttons */

.btn-orange {
  background-color: var(--CL-primary-orange);
  border: none;
  border-radius: 0;
  padding: 1.6em 3em;
  margin: 2.5rem 0 0 0;
}

.btn-orange:active {
  background-color: var(--CL-primary-orange);
}

.btn-orange:hover {
  background-color: var(--CL-neutral-white);
  color: var(--CL-primary-dark);
}

.btn-white {
  border: 5px solid var(--CL-primary-orange);
  color: var(--CL-primary-orange);
  padding: 0.5em 1em;
  border-radius: 0;
  margin: 0 auto;
}

.btn-light {
  border: 1px solid var(--CL-primary-light);
  background-color: var(--CL-neutral-white);
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0.75em 0;
}

.btn-light:hover {
  background-color: var(--CL-primary-dark);
  color: var(--CL-neutral-white);
}

/* Navigation Bar */

.nav-item {
  font-weight: bold;
}

.navbar {
  box-shadow: 0 0 10px rgba(77, 77, 77, 0.15);
}

.navbar-collapse {
  padding: 1em 0;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1em;
}

.brand-logo {
  max-width: 8em;
}

/* Background */
.bg-dark-three {
  background-color: var(--CL-primary-dark-three);
}

/* Hero Section */

.hero-background {
  background-image: url('../resources/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  background: rgb(243, 243, 243, 0.92);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='800' height='800' preserveAspectRatio='none' viewBox='0 0 800 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1362%26quot%3b)' fill='none'%3e%3cpath d='M55.04 145.67L90.55 166.17L90.55 207.17L55.04 227.67L19.53 207.17L19.53 166.17zM19.53 207.17L55.04 227.67L55.04 268.67L19.53 289.17L-15.98 268.67L-15.98 227.67zM19.53 330.17L55.04 350.67L55.04 391.67L19.53 412.17L-15.98 391.67L-15.98 350.67zM197.07 145.67L232.58 166.17L232.58 207.17L197.07 227.67L161.56 207.17L161.56 166.17zM197.07 268.67L232.58 289.17L232.58 330.17L197.07 350.67L161.56 330.17L161.56 289.17zM161.56 453.17L197.07 473.67L197.07 514.67L161.56 535.17L126.05 514.67L126.05 473.67zM232.58 453.17L268.09 473.67L268.09 514.67L232.58 535.17L197.07 514.67L197.07 473.67zM339.1 391.67L374.61 412.17L374.61 453.17L339.1 473.67L303.59 453.17L303.59 412.17zM410.12 145.67L445.63 166.17L445.63 207.17L410.12 227.67L374.61 207.17L374.61 166.17zM410.12 391.67L445.63 412.17L445.63 453.17L410.12 473.67L374.61 453.17L374.61 412.17zM481.13 637.67L516.64 658.17L516.64 699.17L481.13 719.67L445.63 699.17L445.63 658.17zM658.67 84.17L694.18 104.67L694.18 145.67L658.67 166.17L623.17 145.67L623.17 104.67zM658.67 330.17L694.18 350.67L694.18 391.67L658.67 412.17L623.17 391.67L623.17 350.67zM765.2 637.67L800.71 658.17L800.71 699.17L765.2 719.67L729.69 699.17L729.69 658.17zM836.22 145.67L871.72 166.17L871.72 207.17L836.22 227.67L800.71 207.17L800.71 166.17zM836.22 391.67L871.72 412.17L871.72 453.17L836.22 473.67L800.71 453.17L800.71 412.17zM800.71 453.17L836.22 473.67L836.22 514.67L800.71 535.17L765.2 514.67L765.2 473.67zM800.71 699.17L836.22 719.67L836.22 760.67L800.71 781.17L765.2 760.67L765.2 719.67z' stroke='rgba(39%2c 42%2c 49%2c 0.07)' stroke-width='2'%3e%3c/path%3e%3cpath d='M50.94 145.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM86.45 166.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM86.45 207.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM50.94 227.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM15.43 207.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM15.43 166.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM50.94 268.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM15.43 289.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM-20.08 268.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM-20.08 227.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM15.43 330.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM50.94 350.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM50.94 391.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM15.43 412.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM-20.08 391.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM-20.08 350.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM192.97 145.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM228.48 166.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM228.48 207.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM192.97 227.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM157.46 207.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM157.46 166.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM192.97 268.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM228.48 289.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM228.48 330.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM192.97 350.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM157.46 330.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM157.46 289.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM157.46 453.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM192.97 473.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM192.97 514.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM157.46 535.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM121.95 514.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM121.95 473.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM228.48 453.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM263.99 473.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM263.99 514.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM228.48 535.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM335 391.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM370.51 412.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM370.51 453.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM335 473.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM299.49 453.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM299.49 412.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM406.02 145.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM441.53 166.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM441.53 207.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM406.02 227.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM370.51 207.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM370.51 166.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM406.02 391.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM441.53 412.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM441.53 453.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM406.02 473.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM477.03 637.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM512.54 658.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM512.54 699.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM477.03 719.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM441.53 699.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM441.53 658.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM654.57 84.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM690.08 104.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM690.08 145.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM654.57 166.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM619.07 145.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM619.07 104.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM654.57 330.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM690.08 350.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM690.08 391.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM654.57 412.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM619.07 391.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM619.07 350.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM761.1 637.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM796.61 658.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM796.61 699.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM761.1 719.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM725.59 699.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM725.59 658.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM832.12 145.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM867.62 166.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM867.62 207.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM832.12 227.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM796.61 207.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM796.61 166.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM832.12 391.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM867.62 412.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM867.62 453.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM832.12 473.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM796.61 453.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM796.61 412.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM832.12 514.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM796.61 535.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM761.1 514.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM761.1 473.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM832.12 719.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM832.12 760.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM796.61 781.17 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0zM761.1 760.67 a4.1 4.1 0 1 0 8.2 0 a4.1 4.1 0 1 0 -8.2 0z' fill='rgba(39%2c 42%2c 49%2c 0.07)'%3e%3c/path%3e%3cpath d='M7.27 -15.71L53.17 10.79L53.17 63.79L7.27 90.29L-38.63 63.79L-38.63 10.79zM144.97 63.79L190.87 90.29L190.87 143.29L144.97 169.79L99.07 143.29L99.07 90.29zM144.97 222.79L190.87 249.29L190.87 302.29L144.97 328.79L99.07 302.29L99.07 249.29zM144.97 540.79L190.87 567.29L190.87 620.29L144.97 646.79L99.07 620.29L99.07 567.29zM190.87 -15.71L236.77 10.79L236.77 63.79L190.87 90.29L144.97 63.79L144.97 10.79zM236.77 63.79L282.67 90.29L282.67 143.29L236.77 169.79L190.87 143.29L190.87 90.29zM190.87 143.29L236.77 169.79L236.77 222.79L190.87 249.29L144.97 222.79L144.97 169.79zM328.57 63.79L374.48 90.29L374.48 143.29L328.57 169.79L282.67 143.29L282.67 90.29zM420.38 699.79L466.28 726.29L466.28 779.29L420.38 805.79L374.48 779.29L374.48 726.29zM374.48 779.29L420.38 805.79L420.38 858.79L374.48 885.29L328.57 858.79L328.57 805.79zM466.28 -15.71L512.18 10.79L512.18 63.79L466.28 90.29L420.38 63.79L420.38 10.79zM466.28 461.29L512.18 487.79L512.18 540.79L466.28 567.29L420.38 540.79L420.38 487.79zM512.18 540.79L558.08 567.29L558.08 620.29L512.18 646.79L466.28 620.29L466.28 567.29zM603.98 63.79L649.88 90.29L649.88 143.29L603.98 169.79L558.08 143.29L558.08 90.29zM558.08 302.29L603.98 328.79L603.98 381.79L558.08 408.29L512.18 381.79L512.18 328.79zM558.08 620.29L603.98 646.79L603.98 699.79L558.08 726.29L512.18 699.79L512.18 646.79zM695.78 222.79L741.68 249.29L741.68 302.29L695.78 328.79L649.88 302.29L649.88 249.29zM695.78 540.79L741.68 567.29L741.68 620.29L695.78 646.79L649.88 620.29L649.88 567.29zM649.88 620.29L695.78 646.79L695.78 699.79L649.88 726.29L603.98 699.79L603.98 646.79zM741.68 143.29L787.58 169.79L787.58 222.79L741.68 249.29L695.78 222.79L695.78 169.79zM741.68 461.29L787.58 487.79L787.58 540.79L741.68 567.29L695.78 540.79L695.78 487.79zM741.68 779.29L787.58 805.79L787.58 858.79L741.68 885.29L695.78 858.79L695.78 805.79z' stroke='rgba(98%2c 98%2c 98%2c 0.07)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1.97 -15.71 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM47.87 10.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM47.87 63.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM1.97 90.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM-43.93 63.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM-43.93 10.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM139.67 63.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM185.57 90.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM185.57 143.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM139.67 169.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM93.77 143.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM93.77 90.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM139.67 222.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM185.57 249.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM185.57 302.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM139.67 328.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM93.77 302.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM93.77 249.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM139.67 540.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM185.57 567.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM185.57 620.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM139.67 646.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM93.77 620.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM93.77 567.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM185.57 -15.71 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM231.47 10.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM231.47 63.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM139.67 10.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM277.37 90.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM277.37 143.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM231.47 169.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM231.47 222.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM323.27 63.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM369.18 90.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM369.18 143.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM323.27 169.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM415.08 699.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM460.98 726.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM460.98 779.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM415.08 805.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM369.18 779.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM369.18 726.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM415.08 858.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM369.18 885.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM323.27 858.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM323.27 805.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM460.98 -15.71 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM506.88 10.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM506.88 63.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM460.98 90.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM415.08 63.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM415.08 10.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM460.98 461.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM506.88 487.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM506.88 540.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM460.98 567.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM415.08 540.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM415.08 487.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM552.78 567.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM552.78 620.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM506.88 646.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM460.98 620.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM598.68 63.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM644.58 90.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM644.58 143.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM598.68 169.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM552.78 143.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM552.78 90.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM552.78 302.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM598.68 328.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM598.68 381.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM552.78 408.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM506.88 381.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM506.88 328.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM598.68 646.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM598.68 699.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM552.78 726.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM506.88 699.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM690.48 222.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM736.38 249.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM736.38 302.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM690.48 328.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM644.58 302.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM644.58 249.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM690.48 540.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM736.38 567.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM736.38 620.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM690.48 646.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM644.58 620.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM644.58 567.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM690.48 699.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM644.58 726.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM736.38 143.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM782.28 169.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM782.28 222.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM690.48 169.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM736.38 461.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM782.28 487.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM782.28 540.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM690.48 487.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM736.38 779.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM782.28 805.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM782.28 858.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM736.38 885.29 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM690.48 858.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0zM690.48 805.79 a5.3 5.3 0 1 0 10.6 0 a5.3 5.3 0 1 0 -10.6 0z' fill='rgba(98%2c 98%2c 98%2c 0.07)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1362'%3e%3crect width='800' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 6em 0 4em 0;
  backdrop-filter: grayscale(100%);
}

.hero-title {
  background-image: url('../resources/images/cutout.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(236, 83, 66, 0.9);
  line-height: 1;
  margin: 0;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin: 0.25em 0;
}

.hero-card {
  padding: 1em;
  margin: 1em 0;
  border: 4px solid var(--CL-neutral-white);
  background-color: var(--CL-primary-light-two);
  max-width: 40rem;
}

.hero-parragraph {
  font-size: 0.7rem;
  font-weight: 600;
}

.hero-date {
  font-size: 1.4rem;
}

.hero-location {
  font-size: 0.9rem;
  font-weight: 600;
}

/* Program Section */

.game-background {
  background-color: #272a31;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23444444' fill-opacity='0.5' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.game-content {
  background-color: rgb(39, 42, 49, 0.75);
  padding: 3em 0;
}

.game-system {
  margin: 0;
  gap: 0.5em;
}

.game-card {
  display: flex;
  align-items: center;
  background-color: rgba(116, 116, 116, 0.1);
  padding: 1em;
  gap: 1em;
}

.game-card > * {
  margin-block: 0;
}

.game-icon {
  width: 2.5em;
  height: 2.5em;
  object-fit: contain;
}

.game-title {
  font-size: 1.15rem;
  color: var(--CL-primary-orange);
  font-weight: bold;
  flex: 0.5;
  text-align: left;
}

.game-description {
  text-align: left;
  font-size: 0.8rem;
  color: var(--CL-neutral-white);
  flex: 1;
}

/* Featured Section */
.featured-content {
  padding: 3em 0;
}

.featured-system {
  gap: 2.5em;
}

.featured-card {
  display: grid;
  grid-template-columns: 8em 1fr;
  gap: 1em;
  padding: 0 0;
  max-height: 12em;
}

.featured-portrait {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: var(--CL-primary-dark);
}

.featured-image {
  object-fit: cover;
}

.featured-subcontent {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.featured-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.25em;
}

.featured-subtitle {
  font-size: 0.7rem;
  font-style: italic;
  color: var(--CL-primary-orange);
}

.featured-description {
  font-size: 0.65rem;
}

.featured-action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

/* Hidden/Visible */
.featured-hidden {
  display: none;
}

.featured-visible {
  display: grid;
}

/* Sponsor Section */
.section-sponsor {
  padding: 4em 0;
}

.sponsor-system {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.sponsor-image {
  width: 6em;
}

/* Footer Section */
.section-footer {
  padding: 3em 0;
}

.footer-system {
  max-width: 50rem;
}

.footer-subystem {
  gap: 1.5em;
}

/* Desktop Version */
@media (min-width: 768px) {
  /* Lines */
  .hr {
    height: 2px;
  }

  /* Visibility */
  .hidden {
    display: none;
  }

  /* Buttons */
  .btn-orange {
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .btn-orange-content::after {
    content: 'SEE THE WHOLE GAME';
  }

  .btn-white {
    margin: unset;
  }

  .btn-white:hover {
    color: var(--CL-neutral-white);
    background-color: var(--CL-primary-orange);
  }

  /* Navigation Bar */

  .navbar {
    background-color: var(--CL-neutral-white);
  }

  .navbar-nav {
    flex: 1;
    justify-content: end;
  }

  .navbar-collapse {
    padding: 0;
  }

  .nav-item {
    margin: 0 2em;
  }

  .nav-link:hover {
    color: #ec5242;
    text-decoration: underline;
  }

  /* Hero Section */

  .hero-content {
    padding: 10em 0 10em 0;
  }

  .hero-title {
    font-size: 4.5rem;
    max-width: 63%;
  }

  .hero-subtitle {
    font-size: 2.35rem;
  }

  .hero-card {
    margin: 1rem 0 2rem 0;
  }

  .hero-parragraph {
    font-size: 1rem;
  }

  .hero-date {
    font-size: 2rem;
  }

  .hero-location {
    font-size: 1.35rem;
    font-weight: 600;
  }

  /* Program Section */

  .game-content {
    padding: 6em 0;
  }

  .game-system {
    justify-content: center;
    gap: 0.25em;
  }

  .game-card {
    flex-direction: column;
    padding: 3em 0.75em;
    width: 16em;
    cursor: pointer;
  }

  .game-card:hover {
    outline: 2px solid var(--CL-neutral-white);
  }

  .game-icon {
    width: 4em;
    height: 4em;
    object-fit: contain;
  }

  .game-title {
    font-size: 1.5rem;
  }

  .game-description {
    font-size: 1rem;
    text-align: center;
  }

  /* Featured Section */
  .featured-system {
    justify-content: center;
    gap: 3em;
  }

  .featured-card {
    display: grid;
    grid-template-columns: 10em 1fr;
    gap: 1em;
    padding: 0 0;
  }

  .featured-title {
    font-size: 1.5rem;
  }

  .featured-subtitle {
    font-size: 0.9rem;
  }

  .featured-description {
    font-size: 0.85rem;
  }

  .featured-hidden {
    display: grid;
  }

  /* Sponsor Section */
  .sponsor-system {
    gap: 3em;
  }

  .sponsor-image {
    width: 8em;
  }
}
