@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

/* CSS Variables */
:root {
  --CL-primary-dark: #272a31;
  --CL-primary-dark-two: #585858;
  --CL-primary-light: #d3d3d3;
  --CL-primary-light-two: #f3f3f3;
  --CL-primary-orange: #ec5242;

  --CL-neutral-white: #ffffff;

  --FF-primary-lato: 'Lato', sans-serif;
  --FF-primary-cocogoose: 'COCOGOOSE', sans-serif;
}

h1 {
  font-family: var(--FF-primary-cocogoose);
}

p {
  color: var(--CL-primary-dark-two);
}

/* Font Families */

.font-title {
  font-family: var(--FF-primary-cocogoose);
}

/* Font Sizes */

.parragraph {
  font-size: calc(0.9rem + 1vw);
  font-weight: 400;
  margin: 0;
}

.parragraph-xs {
  font-size: calc(0.6rem + 1vw);
  font-weight: 600;
  margin: 0;
}

.h1 {
  font-size: calc(1.6rem + 1vw);
}

/* Lines */
.hr {
  height: 1.5px;
  background-color: var(--CL-primary-orange);
  border: none;
  border-radius: 1em;
  max-width: 3em;
  margin: 1em auto;
}

/* Colors */

.text-dark {
  color: var(--CL-primary-dark);
}

.text-orange {
  color: var(--CL-primary-orange);
}

.text-light {
  color: var(--CL-primary-light);
}

.text-dark-two {
  color: var(--CL-primary-dark-two);
}

/* Hero Card */

.hero-card {
  padding: 1em;
  margin: 1em 0;
  border: 4px solid var(--CL-neutral-white);
  background-color: var(--CL-primary-light-two);
}

.hero-parragraph {
  font-size: calc(0.52rem + 1vw);
  font-weight: 600;
}

/* Hero Section */
.hero-background {
  background-image: url('../resources/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  background-image: url('../resources/images/cutout.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(236, 82, 66, 0.75);
}

.hero-content {
  background: rgb(243, 243, 243);
  padding: 6em 0 4em 0;
}

/* Program Section */
.program-background {
  background-color: #272a31;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23f3f3f3' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.program-content {
  background-color: rgb(39, 42, 49, 0.75);
  padding: 3em 0;
}

.program-system {
  margin: 0;
}

.program-card {
  display: flex;
  align-items: center;
  background-color: rgba(61, 63, 70, 0.48);
  padding: 1em;
  gap: 1em;
}

.program-card > * {
  text-align: left;
  margin-block: 0;
}

.program-icon {
  max-width: 2.5em;
}

.program-title {
  font-size: 1.15rem;
  color: var(--CL-primary-orange);
  font-weight: bold;
  flex: 0.5;
}

.program-description {
  font-size: 0.8rem;
  color: var(--CL-neutral-white);
  flex: 1;
}
